<!-- Monster HTML file containing the whole app. That's right everything. -->
<html>
  <body>
    <% unless @has_filter %>
      <div>
        <%= button_tag "Edit Job Filters", class: "btn btn-large btn-success" %>
      </div>
    <% end %>

    <div id="search-form">
      <%= form_for @jobs_filter, :url => jobs_search_path, :method => :get do |f| %>
        <div class="col-md-12">
          <div class="col-md-4">
            <%= f.label :company %>:
            <%= f.text_field :company, class: "form-control" %><br />

            <%= f.label :categories %>:
            <%= f.select :categories, options_for_select(@categories, @jobs_filter.categories), {}, {multiple: true, class: "form-control"} %><br />
          </div>
          <div class="col-md-4">
            <%= f.label :levels %>:
            <%= f.select :levels, options_for_select(@levels, @jobs_filter.levels), {}, {multiple: true, class: "form-control"} %><br />

            <%= f.label :locations %>:
            <%= f.text_field :locations, class: "form-control" %><br />
          </div>
        </div>
        <div class="col-md-4">
          <%= f.submit "Search", class: "btn btn-large btn-primary" %>
          <%= button_to "Clear", jobs_clear_path, class: "btn btn-large btn-secondary" %>
        </div>
      <% end %>
    </div>

    <hr>

    <!-- Results section, should be a partial but hacking -->

    <div id="job-results" class="col-md-12" >
      <% unless @results.nil? %>
        <table class="table">
        <thead>
          <tr>
            <th>Company</th>
            <th>Short Name</th>
            <th>Category</th>
            <th>Level</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |job| %>
            <tr>
              <td><%= job['company']['name'] %></td>
              <td><%= job['name'] %></td>
              <td><%= get_comma_separated_list_of_names job['categories'] %></td>
              <td><%= get_comma_separated_list_of_names job['levels'] %></td>
              <td><%= get_comma_separated_list_of_names job['locations'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

  </body>
</html>
